#main {
	margin-left: 3em;
	max-width: 600px;
}

nav h2 {
	margin-top: 0px;
}

nav h1 {
	margin-bottom: 0px;
}

nav h1 a, nav h1 a:visited {
	text-decoration: none;
	color: black;
}

nav {
	text-align: right;
}

nav li {
	display: inline-block;
	padding: 0px;
}

nav a, nav a:visited {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 5px;
	border: solid 1px black;
	border-radius: 10px;
}

nav a:target, nav a#target, nav .fix-tabs:target ~ a {
	background: #bff;
}

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 12pt;
}

label, input, div.filename {
	font-size: 12pt;
}

div.input input, div.input div.filename {
	font-style: italic;
	margin-left: 1em;
}

input {
	border: none;
	border-bottom: solid thin black;
}

input, div.filename {
	display: inline;
}

input.button {
	display: inline;
	border-radius: 1ex;
}

a.advanced {
	display: block;
	font-size: small;
	text-decoration: none;
	margin: 4ex 0ex;
}

.zoom-container img {
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-pixelated;         /* Opera */
	image-rendering: -webkit-pixelated;/* Webkit (non-standard naming) */
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.fix-tabs {
	position: fixed;
	top: 0px;
	left: 0px;
}

/* Job status within batch results */

.done, .started, .new, .error {
	font-weight: bold;
}

.done {
	color: green;
}

.started {
	color: darkgrey;
}

.error, .new {
	color: red;
}
