<!DOCTYPE html>
{% set title = "conredet" %}
{% set subtitle = "Detect regions in confocal microscope images" %}
{% macro target(view, id="target") %}
	{% if request.endpoint == view %}id="{{id}}"{% endif %}
{% endmacro %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='style.css')}}">
	<script type="text/javascript"
		src="{{url_for('static', filename='jquery.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static', filename='options.js')}}"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<nav>
		<h1><a href="{{url_for('index')}}">{{title}}</a></h1>
		{% if subtitle %}
			<h2>{{subtitle}}</h2>
		{% endif %}
		<ul>
			{% if job is defined %}
				<li>Job results: <a {{target('results')}}
					href="{{url_for('results', id=job.id)}}">Download</a></li>
			{% endif %}
			{% if job is defined and job.is_done() %}
				<li><a {{target('view')}}
					href="{{url_for('view', id=job.id)}}">View</a></li>
			{% endif %}
		</ul>
	</nav>

	<div id="main">
		{% block main %}{% endblock %}
	</div>
</body>
</html>
