<!DOCTYPE html>
{% set title = "conredet" %}
{% set subtitle = "Detect regions in confocal microscope images" %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css"
		href="{{url_for('static', filename='style.css')}}">
	<script type="text/javascript"
		src="{{url_for('static', filename='jquery.js')}}"></script>
	<script type="text/javascript"
		src="{{url_for('static', filename='options.js')}}"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<nav>
		<h1><a href="{{url_for('index')}}">{{title}}</a></h1>
		{% if subtitle %}
			<h2>{{subtitle}}</h2>
		{% endif %}
	</nav>

	<div id="main">
		{% block main %}{% endblock %}
	</div>
</body>
</html>
