{% extends "base.html" %}

{% block main %}
<h2>Configure your job</h2>

<form
		action="{{url_for('setup')}}"
		method="post">
	<input type="hidden" name="id" value="{{job.id}}">

	<h2>Metadata</h2>
	{% for option in job.meta_order %}
		<div class="input">
			<label for="{{option}}">{{job.meta_help[option]}}</label>
			<input name="{{option}}" value="{{job.meta[option]}}"
				{% if not job.meta_ok(option) %}class="error"{% endif %}
				>
		</div>
	{% endfor %}

	<input class="button" type="submit" name="meta" value="Set">
</form>

<form
		class="basic"
		action="{{url_for('setup')}}"
		method="post">
	<input type="hidden" name="id" value="{{job.id}}">

	<h2>Basic options</h2>
	<p>You will most likely need to change these, but it may make sense to make
	the first run with the defaults.</p>

	{% for option in ['channels', 'n_cells', 'cell_radius', 'cell_channel',
		'red_volume', 'green_volume', 'blue_volume'] %}
		<div class="input">
			<label for="{{option}}">{{job.help[option]}}</label>
			<input name="{{option}}" value="{{job.options[option]}}">
		</div>
	{% endfor %}

	<input class="button" type="submit" name="basic" value="Set">
	<input class="button" type="submit" name="start_basic" value="Start">
</form>

<a style="display: none" class="advanced"
	href="#">Toggle advanced options</a>

<form
		class="advanced"
		action="{{url_for('setup')}}"
		method="post">
	<input type="hidden" name="id" value="{{job.id}}">

	<h2>Advanced options</h2>
	<p>You should only change these after considerable pondering</p>
	<p>It is best to not use basic settings after you've set the advanced ones.</p>

	{% for option in job.options | sort %}
		<div class="input">
			<label><em>{{option}}</em>. {{job.help[option]}}</label>
			<input name="{{option}}" value="{{job.options[option]}}">
		</div>
	{% endfor %}

	<input class="button" type="submit" name="advanced" value="Set">
	<input class="button" type="submit" name="start_advanced" value="Start">
</form>
{% endblock %}
